
<div class="contact-info">
    <!-- LinkedIn -->
    <a href="mailto:jacobsremone@gmail.com" target="_blank" aria-label="Email">
        <i class="fas fa-envelope fa-2x"></i>
    </a>

    <!-- Gmail (mailto link) -->
    <a href="https://www.linkedin.com/in/remone-jacobs-08188821a" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>

    <!-- GitHub -->
    <a href="https://github.com/remonejacobs" target="_blank" aria-label="GitHub">
        <i class="fab fa-github fa-2x"></i>
    </a>

</div>
<div class="heading">
    <div class="heading-info">
        <h1>Remone Jacobs</h1>
        <p>Fullstack Software Developer</p>
    </div>
</div>