body {
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: 'IM Fell French Canon', serif;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    /*height: 20px;*/
    padding: 10px 50px;
    font-size: 30px;
}

.nav-logo {
    padding-top: 30px;
    font-weight: bold;
    font-size: 40px;    /* slightly bigger than links */
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

.home-page {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    gap: 50px;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25px;
    margin-left: 10%;
    margin-top: 5%;
    text-align: center;
}

.contact-info a {
    color: white;
    font-size: 40px;
}

.contact-info a :hover {
    color: lightblue;
}

.heading {
    flex: 3;
    margin-right: 5%;
}

.heading p {
    font-size: 30px;

}

.about {
    background-color: aliceblue;
    color: black;
    margin-top: 20%;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 20px;
}
